<div class="login">
	<div class="container">

      <h1>Invaid Username or Password</h1>
      
      <img src="http://www.headcorn.org/assets/images/Red_triangle_alert_icon.png" style="width:290px;height:200px;">
      
      <br>
      <%= link_to 'Back', login_path %>
      
	</div>
</div>